@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --darkbg-color: #1f2937;

  --herotext-color: #f9faf8;

  --herosecondtext-color: #e5e7eb;

  --headertext-color: #f9faf8;

  --buttoncta-color: #3882f6;

  --infoheadertext-color: #1f2937;

  --quotebg-color: #e5e7eb;
  --quotetext-color: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0;
}

.flex-container {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: var(--darkbg-color);
  flex: 100%;
}

.dark-bg {
  background-color: var(--darkbg-color);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--darkbg-color);
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-logo {
  display: flex;
  justify-content:flex-start;
  flex: 1;
  margin-left: 20vh;
  font-size: 24px;
  color: var(--infoheadertext-color);
}

a:link, a:visited {
  background-color: transparent;
  text-decoration: none;
  color: var(--headertext-color);

}

.nav-header a:link, a:visited {
  background-color: transparent;
  text-decoration: none;
  color: var(--headerseondtext-color);
  
}

.header-logo h1 {
  color: var(--headertext-color);
  font-size: 24px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  margin-right: 20vh;
  color: var(--herosecondtext-color);
  font-size: 18px;
}

.nav-header ul {
  display: block;
}

.nav-header li {
  display: inline-block;
  padding: 0.5rem 1.5rem;
}

.nav-header h1 {
  color: var(--herosecondtext-color);
  font-size: 18px;
  margin-right: 20px;
  font-weight: 400;
}

.hero-container {
  display: flex;
  flex-direction: row;
  flex: 100%;
  background-color: var(--darkbg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-panel {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content:flex-start;
  margin-left: 20vh;
  padding-right: 120px;
}

.hero-panel h1{
  margin-bottom:0;
  font-size:48px;
  color: var(--herotext-color);
  font-weight: 900;
}

.hero-panel p {
  font-size: 18px;
  color: var(--herosecondtext-color);
  margin-top:10px;
}

.hero-image {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 20vh;
}

.hero-image img {
  max-width: 100%;
  max-height: 100%;
}

.hero-button {
  font-family: 'Roboto';
  color: white;
  display: flex;
  justify-content: start;
  width: fit-content;
  background-color: var(--buttoncta-color);
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom : 10px;
}
